<div *ngIf="groceryList">
  <div class="container">
    <div class="row">
      <ul class="list-group col-6">
        <ng-container *ngFor="let item of groceryList.items">
          <li class="list-group-item d-flex justify-content-between">
            <div>{{item.name}} {{item.description}} {{item.quantity}} {{item.category.name}}</div>
            <button (click)="deleteItem(item.itemId)" type="button" class="btn btn-outline-info">Delete</button>
          </li>
        </ng-container>

      </ul>
    </div>
    <div class="row mt-3">
      <div class="list-group col-6">
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addItemModal">Add
          Item</button>
      </div>
    </div>
  </div>

  <!-- Modal pop up -->
  <div class="modal" id="addItemModal" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Add Item To Your Grocery List {{groceryList.name}}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Name: <input type="text" name="newItemName" id="newItemName" [(ngModel)]="newItemName">
          Description: <input type="text" name="newItemDescription" id="newItemDescription"
            [(ngModel)]="newItemDescription">
          Quantity: <input type="text" name="newItemQuantity" id="newItemQuantity" [(ngModel)]="newItemQuantity">
          Category: <select type="text" name="categoryId" id="categoryId" [(ngModel)]="categoryId">
            <option *ngFor="let category of categories" value="{{category.categoryId}}">{{category.name}}</option>
          </select>
          <p>{{message}}</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="closeModalButton">Close</button>
          <button (click)="addItem($event)" type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
</div>
