<div class="container text-center">
  <h4> <img src='assets/images/users.jpeg'></h4>

  <div class="row d-flex justify-content-center mt-3">

    <ul class="list-group col-4">
      <!-- List of users -->
      <ng-container *ngFor="let user of users">
        <li class="list-group-item d-flex justify-content-between">
          <div class="hilite" routerLink="/user/{{user.userId}}">{{user.name}}</div>
          <button (click)="deleteUser(user.userId)" type="button" class="btn btn-outline-info">Delete</button>
        </li>
      </ng-container>

      <!-- Add user button -->
      <li class="d-flex justify-content-center mt-3">
        <input type="text" name="newUser" id="newUser" placeholder="New User Name" [(ngModel)]="newUserName">
        <button (click)="addUser()" type="button" class="btn btn-primary ms-3">Add User</button>
      </li>
      <li class="d-flex justify-content-center">{{message}}</li>
    </ul>

  </div>

</div>
